{% extends 'base.html' %}

{% block title %} Andrian Golovatii {% endblock %}

{% block content %}
    <h1>Первая статья!</h1>

    <div>Одним из создателей Джанго был: {{name}} {{surname}}</div>
<img src="https://glavcom.ua/img/section/70/37_main.jpg" alt="">
<div>
    Початкова розробка Django, як засобу для роботи новинних ресурсів, досить сильно позначилася на його архітектурі:
    він надає ряд засобів, які допомагають у швидкій розробці веб-сайтів інформаційного характеру.
    Так, наприклад, розробнику не потрібно створювати контролери та сторінки для адміністративної частини сайту,
    в Django є вбудований модуль для керування вмістом, який можна включити в будь-який сайт, зроблений на Django,
    і який може керувати відразу декількома сайтами на одному сервері. Адміністративний модуль дозволяє створювати,
    змінювати і вилучати будь-які об'єкти наповнення сайту, протоколюючі всі дії, а також надає інтерфейс для управління
    користувачами і групами (з призначенням прав).
</div>
{% endblock %}